name: Download Wikipedia News

on:
  schedule:
    - cron: '0,15,30,45 * * * *'  # Run every 15 minutes
  workflow_dispatch:  # Allow manual triggering

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  download-news:
    runs-on: ubuntu-latest
    # runs-on: self-hosted

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the added or changed files to the repository.
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "latest"
        python-version: 3.13t

    - name: Save date
      id: save-date
      run: echo "date=$(date)" > $GITHUB_OUTPUT

    - name: Download Wikipedia News
      run: uv run --no-dev --upgrade wikipedia_news_downloader.py

    - uses: stefanzweifel/git-auto-commit-action@v6
      with:
        commit_message: "Update Wikipedia News on ${{ steps.save-date.outputs.date }}"
